@use '../abstracts' as *;
@use 'sass:map';

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $background-color;
  @include flex(column);
  min-height: 100vh;
}
main {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 map.get($spacing, md);
}

.main-content {
  flex: 1;
  padding: map.get($spacing, xl) map.get($spacing, md);
  background-color: $background-color;
  border-radius: map.get($border-radius, lg);
  transition: margin-left $transition-speed;
  
  &.no-sidebar {
    margin-left: 0;
  }
}

.content {
  @include flex;
  flex: 1;
}

@include responsive(md) {
  .content {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    padding: map.get($spacing, md);
  }

  .game-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  body {
    font-size: $font-size-small;
  }

  .container {
    padding: 0 map.get($spacing, sm);
  }
}