{% extends "layout.twig" %}
{% block content %}
    {% include 'admin/menu.twig' with {'current_page': 'dashboard'} %}
    <div class="admin-content">
        <h2>Administration</h2>
    </div>

{% endblock %}