@use '../abstracts' as *;
@use 'sass:map';
@use "sass:color";

.btn {
  @include button-style($primary-color);
}

.btn-secondary {
  @include button-style($secondary-color);
}

.btn-success {
  @include button-style($success-color);
}

.btn-info {
  @include button-style($info-color);
}

.btn-warning {
  @include button-style($warning-color);
}

.btn-error {
  @include button-style($error-color);
}

.btn-accent-1 {
  @include button-style($accent-color-1);
}

.btn-accent-2 {
  @include button-style($accent-color-2);
}

.btn-accent-3 {
  @include button-style($accent-color-3);
}

.btn-accent-4 {
  @include button-style($accent-color-4);
}

.btn-accent-5 {
  @include button-style($accent-color-5);
}

.btn-large {
  font-size: $font-size-large;
  padding: map.get($spacing, sm) map.get($spacing, lg);
}

.btn-green {
  @extend .btn-success;
}

.btn-blue {
  @extend .btn;
}

.btn-back {
  display: inline-block;
  margin-bottom: map.get($spacing, md);
  color: $primary-color;
  transition: color $transition-speed $transition-function;

  &:hover {
    color: color.scale($primary-color, $lightness: 20%);
  }
}

.btn-filter, .btn-page {
  @include button-style($secondary-color);
  display: inline-block;
  padding: map.get($spacing, xs) map.get($spacing, sm);
  margin: map.get($spacing, xxs);

  &.active, &:hover {
    background-color: $primary-color;
  }
}

.btn-clear, .btn-remove {
  @include button-style($error-color);
}

.btn-remove {
  padding: map.get($spacing, xs) map.get($spacing, sm);
  font-size: $font-size-small;
}

.btn-login, .btn-signup {
  padding: map.get($spacing, xs) map.get($spacing, sm);
  border-radius: map.get($border-radius, full);
  transition: all $transition-speed $transition-function;
}

.btn-login {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $text-color;

  &:hover {
    background-color: $primary-color;
    color: $text-color;
  }
}

.btn-signup {
  @include button-style($primary-color);
}
.btn-toggle {
  background-color: $secondary-color;
  color: $text-color;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: map.get($border-radius,sm);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
      background-color: $primary-color;
  }

  i {
      margin-right: 0.5rem;
  }
}
@include responsive(md) {
  .btn, .btn-green, .btn-blue {
    width: 100%;
    margin-bottom: map.get($spacing, xs);
  }
}
