@use '../abstracts' as *;
@use 'sass:map';
.game-grid {
  @include game-grid;
}

.game-card {
  @include game-card;
}

a .game-card {
  color: $text-color;
  text-decoration: none;
}

@include responsive(sm) {
  .game-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .game-card {
    .game-image {
      height: 150px;
    }

    h3 {
      font-size: $font-size-base;
    }

    p {
      font-size: $font-size-small;
    }
  }
}