@use '../abstracts' as *;
@use "sass:color";
@use 'sass:map';
.form-container {
  @include card-style;
  max-width: 400px;
  margin: map.get($spacing, xl) auto; // Utilise map.get pour accéder à $spacing

  input {
    width: 100%;
    padding: map.get($spacing, sm);
    margin-bottom: map.get($spacing, md);
    border: 1px solid $secondary-color;
    border-radius: map.get($border-radius, sm);
    background-color: color.adjust($background-color, $lightness: 5%);
    color: $text-color;
  }

  button {
    @include button-style($primary-color);
    width: 100%;
  }
}

.error-message, .error {
  color: $error-color;
  margin-bottom: map.get($spacing, md);
}