@use '../abstracts' as *;
@use 'sass:map';
.game-detail {
  @include card-style;
  display: flex;
  margin-top: map.get($spacing, xl);

  .game-image-container {
    flex: 1;
    max-width: 50%;

    img {
      width: 100%;
      height: auto;
      border-radius: map.get($border-radius, md);
    }
  }

  .game-info {
    flex: 1;
    padding-left: map.get($spacing, xl);

    h2 {
      margin-bottom: map.get($spacing, md);
    }

    .price {
      font-size: $font-size-large;
      color: $primary-color;
      margin-bottom: map.get($spacing, md);
    }

    .btn-add-to-cart {
      @include button-style($primary-color);
    }
  }
}