@use '../abstracts' as *;

.game-detail {
  @include card-style;
  display: flex;
  margin-top: $spacing-xl;

  .game-image-container {
    flex: 1;
    max-width: 50%;

    img {
      width: 100%;
      height: auto;
      border-radius: $border-radius-md;
    }
  }

  .game-info {
    flex: 1;
    padding-left: $spacing-xl;

    h2 {
      margin-bottom: $spacing-md;
    }

    .price {
      font-size: $font-size-large;
      color: $primary-color;
      margin-bottom: $spacing-md;
    }

    .btn-add-to-cart {
      @include button-style($primary-color);
    }
  }
}
